body {
	font-family: "Prompt", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

:focus-visible {
    outline: none;
}

p {
    margin-bottom: 0px;
}

.image {
    width: 100%;
    height: 120px;
    background-color: black;
}

@media (min-width: 768px) {
    .product-input {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 90px;
        box-shadow: 0px 0px 20px -8px rgb(0 0 0 / 50%);
        z-index: 99;
        background-color: white;
        padding-top: 26px;
    }
}

@media (max-width: 767px) {
    .product-input {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 179px;
        box-shadow: 0px 0px 20px -8px rgb(0 0 0 / 50%);
        z-index: 99;
        background-color: white;
        padding-top: 26px;
    }

    .responsive-size {
        margin-top: 10px;
    }

    .responsive-margin {
        margin-bottom: 200px ! important;
    }
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }
  
  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
